*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

ClientChat/build.xml
ClientChat/manifest.mf
ClientChat/nbproject/build-impl.xml
ClientChat/nbproject/project.xml
ClientChat/nbproject/project.properties
ClientChat/nbproject/genfiles.properties

ServerChat/build.xml
ServerChat/manifest.mf
ServerChat/nbproject/build-impl.xml
ServerChat/nbproject/project.xml
ServerChat/nbproject/project.properties
ServerChat/nbproject/genfiles.properties

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
